.git/
.gitignore
.gitattributes

__pycache__/
*.pyc
*.pyo
*.pyd
.Python

venv/
.venv/
env/
ENV/
.env

data/
notebooks/
report/
results/predictions/
results/metrics/

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

*.log
runs/
.DS_Store
Thumbs.db
.vscode/
.idea/
